


<footer class="bottom-banner">
  <!-- LEFT COLUMN -->
  <div class="footer-left">
    <strong>Business Hours</strong><br>
    Monday: 7:00 AM – 4:00 PM<br>
    Tuesday: 7:00 AM – 4:00 PM<br>
    Wednesday: 7:00 AM – 4:00 PM<br>
    Thursday: 7:00 AM – 4:00 PM<br>
    Friday: 7:00 AM – 4:00 PM<br>
    Saturday: Closed<br>
    Sunday: Closed<br><br>
    <strong>Phone:</strong> (615) 269-5664<br>
    <strong>Email:</strong> <a href="mailto:info@middletennesseeroofing.com" style="color: #C84C22; text-decoration: none;">info@middletennesseeroofing.com</a><br>
    <strong>Address:</strong> 246 Rockland Rd. Ste. 103 Hendersonville, TN 37075
  </div>

  <!-- CENTER COLUMN -->
  <div class="footer-center">
    &copy; 2026 Middle Tennessee Roofing Co., Inc. All rights reserved.
  </div>

  <!-- RIGHT COLUMN -->
<div class="footer-right">

  <!--<p class="footer-heading">Check out our Better Business Bureau profile <br> or leave us a rerview on Google!</p>-->

  <div class="footer-logos">

    <div class="bbb">
      <iframe border="0" frameborder="0"
          style="border: 0; height:65px; width:200px;"
          src="https://seal-nashville.bbb.org/frame/blue-seal-200-65-bbb-19333.png?chk=E7896283FC">
          
      </iframe>
      <span class="tooltip-text">Check Out Our Better Business Bureau Profile!</span>
    </div>

    <div class="google">
      <a href="https://example.com" target="_blank">
        <img src="/images/gb.svg" alt="Google Business Profile">
        <span class="tooltip-text">Leave Us <br> A Review on Google!</span>
      </a>
    </div>
  </div>

</div>
</footer>